.font-size{
    font-size: 11px;
}

.cart{
    position: relative;
    bottom: 8px;
}

.cart-count{
    position: relative;
    left: -16px;
    bottom: 13px;
    font-size: 13px;
    background-color: #ff1414;
    padding: 2px;
    color: #ffffff;
}

.cursor {
    cursor: pointer;
}