.cursor{
    cursor: pointer;
}

.city-label{
    font-weight: 500;
}

.search-box{
    width: 65%;
}

.carousel-item{
    display: center;
    left: -1px;
    height: auto;
   
}
.smd-Txt{
    text-size-adjust: 100%;
   
    margin-bottom: 30px;
    padding-top: 30px;
    margin-top: 20px;
    font-weight: 700;

display: flex;
align-items: center;
justify-content: center;
line-height: 19px!important;
font-size: 15px;
flex-direction: column;
min-height: 200px;}